<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188234680810-fpvj3fsch7antqim6l9pv9la9d7u8nk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188234680810-fpvj3fsch7antqim6l9pv9la9d7u8nk1</string>
	<key>API_KEY</key>
	<string>AIzaSyDmkehC7e0RsXY76WePym-E5OcBBHJ1MRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>188234680810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sugijo.BurachiribuQuiz</string>
	<key>PROJECT_ID</key>
	<string>burachiribuarquizapp-296b8</string>
	<key>STORAGE_BUCKET</key>
	<string>burachiribuarquizapp-296b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188234680810:ios:7cf9911f04cad1d34dca93</string>
</dict>
</plist>